* {
    margin: 0;
    padding: 0;

}

body{
    margin: 0;
    background-color:#3a4479 ;
}

.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecalho{
    display:flex;
    align-items: center;
    justify-content: flex;
    margin-top: 0%;
    margin-left: 0%;
}


.titulo {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
    margin-top: 0;
    margin-left: 0%;
}

.titulo > h1 {
    font-family: 'Press Start 2P', cursive;
    color: #f5c444;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 0;
    
}

.titulo > h2 {
    font-family: 'Press Start 2P', cursive;
    color: #FFFF;
    font-size: 16px;
    margin-top: 0;

}


.left{
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right{
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.elementos1{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input{
    width: 70%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    border-radius: 15px;
    background-color: #ffffff5e;

}

.input::placeholder {
    font-family: 'Press Start 2P', cursive;
    color: #ffffffb0;
    font-size: 10px;
    line-height: 1.5;
}

.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;

}
   
.input1{
    background-color:#f5c444;
    color: #7573b4;
    padding: 3%;
    margin: 4%;
    font-size: 11px;
    font-family: 'Press Start 2P', cursive;
    border-radius: 15px;
}

